

  /* =Override default styles
  ----------------------------------------------- */

  body.azusa {
    margin-top: 0;
    background: white !important;
  }

  .azusa .dev-links {
    top: auto;
    bottom: 0;
  }

  .azusa #block_wide_main {
    width: auto !important;
  }

  .azusa .block_content_main p {
    font-size: inherit;
  }

  @media (max-height: 600px) {
    .azusa .dev-links {
      display: none;
    }
  }

  @media (max-width: 970px) {
    .azusa .content_margin_right > table,
    .azusa .content_margin_right > table > tbody,
    .azusa .content_margin_right > table > tbody > tr {
      display: inline
    }
    .azusa .content_margin_right > table > tbody > tr > td {
      display: inline-block
    }
  }

  .azusa #container_page,
  .azusa #container_content,
  .azusa .block_content_main > div:first-child > div[style]:first-child {
    width: auto !important;
    /*
    max-width: 970px;
    */
  }
  .azusa #container_page,
  .azusa .nav_public {
    border-width: 0;
  }
  .azusa > .content_margin > div[style]:first-child {
    margin: 0 !important;
  }

  .azusa #container_header,
  .azusa #container_home_header,
  .azusa #container_footer {
    background: rgb(255, 204, 0); /* @gold */
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
    height: auto;
  }

  .azusa #container_header,
  .azusa #container_home_header {
    padding-top: 0.75em;
    background: rgb(55, 54, 30);
    color: white;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 0.75em;
  }
  .azusa #container_header:before,
  .azusa #container_home_header:before {
    display: inline-block;
    content: 'Sierra High School';
    margin-left: 1.5em;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
  }
  .azusa #container_header:after,
  .azusa #container_home_header:after {
    display: inline-block;
    content: 'Home of the Mountain Lions';
    font-style: italic;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  @media (min-width: 60em) {
    .azusa #container_header:before,
    .azusa #container_home_header:before {
      margin-left: 3em;
    }
    .azusa #container_header:after,
    .azusa #container_home_header:after {
      margin-right: 3em;
    }
  }

  .azusa .nav_public {
    height: auto;
    min-height: 32px;
    background: rgb(255, 204, 0); /* @gold */
  }

  .azusa .nav_public a,
  .azusa a.footer,
  .azusa a.icon_rss,
  .azusa .footer_nav_sl ul.dropdown li a {
    font-weight: normal;
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
  }
  .azusa .nav_public a {
    padding: 0 0.75em 0 0;
  }

  .azusa #nav_page .title,
  .azusa #nav_page .page_button a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  .azusa #block_standard_left {
    width: auto;
  }

  /*
  .azusa #page_title {
    display: none;
  }
  */

  .azusa #page_title,
  .azusa .block_content_main h2,
  .azusa .block_content_main h3,
  .azusa .nav_public a {
    font-family: inherit;
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
  }
  .azusa #page_title,
  .azusa .block_content_main h2 {
    font-weight: 300;
  }
  .azusa #page_title,
  .azusa .block_content_main h2,
  .azusa .block_content_main h3 {
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }
  .azusa .block_content_main h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .azusa #public_main {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  @media (min-width: 60em) {
    .azusa #public_main {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
  .azusa .nav_public ul {
    font-size: inherit;
  }
  .azusa .nav_public ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .azusa .nav_public form {
    padding: 0 !important;
  }

  .azusa .nav_public > table,
  .azusa .nav_public > table > tbody,
  .azusa .nav_public > table > tbody > tr,
  .azusa .nav_public > table > tbody > tr > td {
    display: block;
  }
  .azusa .nav_public form table {
    float: none !important;
    width: auto !important;
  }
  @media (max-width: 969px) {
    .azusa .nav_public form {
      margin-top: 0.75em !important;
    }
  }
  @media (min-width: 970px) {
    .azusa .nav_public > table > tbody > tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .azusa .search_input {
    font-family: inherit;
    font-size: inherit;
    border-width: 0;
    border-radius: 0.25em;
    padding: 0.375em;
    width: 10em;
    max-width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.2s;
  }
  .azusa .search_btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-width: 0;
    padding: 0.375em 0.75em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;
  }

  .azusa .content_margin {
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    .azusa .content_margin {
      padding: 3em;
    }
  }
  .azusa .page_title + .content_margin {
    padding-top: 0;
  }


  /* =Elements
  ----------------------------------------------- */

  .azusa {
    margin-top: 0;
    background: white !important;
    font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }

  @media (min-width: 400px) and (min-height: 200px) {
    .azusa {
      font-size: 112.5%;
    }
  }

  @media (min-width: 500px) and (min-height: 250px) {
    .azusa {
      font-size: 125%;
    }
  }

  @media (min-width: 1000px) and (min-height: 50px) {
    .azusa {
      font-size: 137.5%;
    }
  }

  @media (min-width: 1500px) and (min-height: 750px) {
    .azusa {
      font-size: 150%;
    }
  }

  .azusa {
    color: rgb(42, 53, 56); /* @text-color */
  }
  .azusa img {
    max-width: 100%;
    height: auto;
  }

  .azusa h1,
  .azusa h2,
  .azusa h3,
  .azusa h4,
  .azusa h5,
  .azusa h6,
  .azusa p,
  .azusa ol,
  .azusa ul,
  .azusa dl,
  .azusa figure {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  .azusa #page_title,
  .azusa h1,
  .azusa h2,
  .azusa h3,
  .azusa h4,
  .azusa h5,
  .azusa h6 {
    margin-top: 1.5em;
    font-weight: inherit;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }
  .azusa #page_title,
  .azusa h1,
  .azusa h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  .azusa h1 strong,
  .azusa h2 strong {
    font-weight: 400;
  }
  .azusa #page_title,
  .azusa h1,
  .azusa h2,
  .azusa h3,
  .azusa h4,
  .azusa h5,
  .azusa h6,
  .azusa p {
    max-width: 40em;
  }

  .azusa #page_title,
  .azusa h1 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom-width: 0;
  }

  @media (min-width: 60em) {
    .azusa #page_title,
    .azusa h1 {
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }

  @media (min-width: 60em) {
    .azusa .azusa__page_title_image + h1 {
      position: absolute;
      top: 70vh;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
      transform: translateY(-150%);
      background: black;
      background: rgba(0, 0, 0, 0.5);
    }
    .azusa .azusa__page_title_image + h1 + p,
    .azusa .azusa__page_title_image + h1 + dl {
      margin-top: 3em;
    }
  }

  .azusa #page_title,
  .azusa h1 {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
  }

  .azusa h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .azusa h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .azusa h3 {
    font-size: 1.25em;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
  }

  /* =Main Container
  ----------------------------------------------- */
  .azusa .azusa__page_title_image {
    display: block;
    margin-left: -1.5em;
    margin-right: -1.5em;
  }
  @media (min-aspect-ratio: 1/1) {
    .azusa .azusa__page_title_image {
      width: 100%;
      width: 100vw;
      max-width: none;
      height: 70vh;
      /*
      max-height: 400px;
      */
      object-fit: cover;
      margin-left: -3em;
      margin-right: -3em;
    }
  }

  /* =Schedule
  ----------------------------------------------- */
  .azusa .schedule {
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    .azusa .schedule {
      padding: 3em;
    }
  }
  .azusa .schedule section h2 {
    margin-top: 0;
  }
  .azusa dl:after {
    content: "";
    display: table;
    clear: both;
  }
  .azusa dt {
    clear: both;
    float: left;
    width: 25%;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    box-sizing: border-box;
    color: rgb(0, 51, 135); /* @ocean */
  }
  .azusa dt + dd {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
  }
  .azusa dd {
    padding-left: 1.5em;
    padding-bottom: 0.375em;
    margin-left: 25%;
    width: 75%;
    box-sizing: border-box;
    color: black;
  }
  .azusa dd em {
    opacity: 0.5;
  }
  .azusa dd span {
    display: inline-block;
    min-width: 3em;
  }
  .azusa dd span:first-child {
    text-align: right;
  }

  .azusa .schedule > section + section {
    margin-top: 3em;
  }
  @media (min-width: 60em) {
    .azusa .schedule:after {
      content: "";
      display: table;
      clear: both;
    }
    .azusa .schedule > section {
      float: left;
      width: 50%;
    }
    .azusa .schedule > section + section {
      margin-top: 0;
    }
  }
