

  /* =Override default styles
  ----------------------------------------------- */

  body {
    margin-top: 0;
    background: white !important;
  }

  body a {
    text-decoration: underline;
  }

  body .dev-links {
    left: auto;
    right: 0;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  body .dropmenudiv_a {
    display: none;
  }

  body #block_wide_main {
    width: auto !important;
  }

  body .block_content_main p {
    font-size: inherit;
  }

  @media (max-height: 600px) {
    body .dev-links {
      display: none;
    }
  }

  body .content_margin_right > table > tbody > tr > td:first-child {
    width: 20%;
    padding-right: 5%;
  }

  @media (max-width: 970px) {
    body .content_margin_right > table,
    body .content_margin_right > table > tbody,
    body .content_margin_right > table > tbody > tr {
      display: inline
    }
    body .content_margin_right > table > tbody > tr > td {
      display: inline-block
    }
    body .content_margin_right > table > tbody > tr > td:first-child {
      width: auto;
      padding-right: 0;
    }
  }

  body #container_page,
  body #container_content,
  body .block_content_main > div:first-child > div[style]:first-child {
    width: auto !important;
    /*
    max-width: 970px;
    */
  }
  body #container_page,
  body .nav_public {
    border-width: 0;
  }
  body > .content_margin > div[style]:first-child {
    margin: 0 !important;
  }

  body #container_header,
  body #container_home_header,
  body #container_footer {
    background: rgb(255, 204, 0); /* @gold */
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
    height: auto;
  }

  body #container_header,
  body #container_home_header {
    padding-top: 0.75em;
    background: rgb(55, 54, 30);
    color: white;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 0.75em;
  }
  body #container_header:before,
  body #container_home_header:before {
    display: inline-block;
    content: 'Sierra High School';
    margin-left: 1.5em;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
  }
  body #container_header:after,
  body #container_home_header:after {
    display: inline-block;
    content: 'Home of the Mountain Lions';
    font-style: italic;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  @media (min-width: 60em) {
    body #container_header:before,
    body #container_home_header:before {
      margin-left: 3em;
    }
    body #container_header:after,
    body #container_home_header:after {
      margin-right: 3em;
    }
  }

  body .nav_public {
    height: auto;
    min-height: 32px;
    background: rgb(255, 204, 0); /* @gold */
  }

  body .nav_public a,
  body .nav_public a:visited,
  body .nav_public a:hover,
  body .nav_public a:active,
  body .nav_public a:focus,
  body a.icon_rss,
  body a.icon_rss:visited,
  body a.icon_rss:hover,
  body a.icon_rss:active,
  body a.icon_rss:focus,
  body a.footer,
  body a.footer:visited,
  body a.footer:hover,
  body a.footer:active,
  body a.footer:focus,
  body a.icon_rss,
  body .footer_nav_sl ul.dropdown li a,
  body .footer_nav_sl ul.dropdown li a:hover,
  body .footer_nav_sl ul.dropdown li a:active,
  body .footer_nav_sl ul.dropdown li a:focus {
    font-weight: normal;
    font-size: inherit;
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
  }
  .footer_table2,
  .footer_nav_sl ul.dropdown li {
    font-size: inherit;
    font-family: inherit;
  }
  body a.icon_rss:hover,
  body a.icon_rss:active,
  body a.icon_rss:focus,
  body a.footer:hover,
  body a.footer:active,
  body a.footer:focus,
  body .nav_public a:hover,
  body .nav_public a:active,
  body .nav_public a:focus,
  body .footer_nav_sl ul.dropdown li a:hover,
  body .footer_nav_sl ul.dropdown li a:active,
  body .footer_nav_sl ul.dropdown li a:focus {
    text-decoration: underline;
  }
  body .nav_public a {
    padding: 0 1.5em 0 0;
  }

  body .footer_login,
  body .footer_sl_brand {
    font-size: 12px;
  }

  body #nav_page .title,
  body #nav_page .page_button a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  body #block_standard_left {
    width: auto;
    float: none;
  }

  /*
  body #page_title {
    display: none;
  }
  */

  body #page_title,
  body .block_content_main h2,
  body .block_content_main h3,
  body .nav_public a {
    font-family: inherit;
    color: rgb(42, 53, 56); /* @text-color */
    color: rgba(0, 0, 0, 0.9);
  }
  body #page_title,
  body .block_content_main h2 {
    font-weight: 300;
  }
  body #page_title,
  body .block_content_main h2,
  body .block_content_main h3 {
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }
  body .block_content_main h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  body #public_main {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  @media (min-width: 60em) {
    body #public_main {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
  body .nav_public ul {
    font-size: inherit;
  }
  body .nav_public ul:after {
    content: "";
    display: table;
    clear: both;
  }
  body .nav_public form {
    padding: 0 !important;
  }

  body .nav_public > table,
  body .nav_public > table > tbody,
  body .nav_public > table > tbody > tr,
  body .nav_public > table > tbody > tr > td {
    display: block;
  }
  body .nav_public form table {
    float: none !important;
    width: auto !important;
  }
  @media (max-width: 969px) {
    body .nav_public form {
      margin-top: 0.75em !important;
    }
  }
  @media (min-width: 970px) {
    body .nav_public > table > tbody > tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  body .search_input {
    font-family: inherit;
    font-size: inherit;
    border-width: 0;
    border-radius: 0.25em;
    padding: 0.375em;
    width: 10em;
    max-width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.2s;
  }
  body .search_btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-width: 0;
    padding: 0.375em 0.75em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;
  }

  body .content_margin {
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    body .content_margin {
      padding: 3em;
    }
  }
  body #page_title + .content_margin {
    padding-top: 0;
  }
  body .content_spacing {
    margin-top: 1.5em;
    height: auto;
  }
  @media (min-width: 60em) {
    body .content_spacing {
      margin-top: 3em;
    }
  }


  /* =Elements
  ----------------------------------------------- */

  body {
    margin-top: 0;
    background: white !important;
    font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }

  @media (min-width: 400px) and (min-height: 200px) {
    body {
      font-size: 112.5%;
    }
  }

  @media (min-width: 500px) and (min-height: 250px) {
    body {
      font-size: 125%;
    }
  }

  @media (min-width: 1000px) and (min-height: 50px) {
    body {
      font-size: 137.5%;
    }
  }

  @media (min-width: 1500px) and (min-height: 750px) {
    body {
      font-size: 150%;
    }
  }

  body {
    color: rgb(42, 53, 56); /* @text-color */
  }

  .block_text table,
  .block_text th,
  .block_text td {
    border-style: solid;
    border-color: rgba(204, 204, 204);
  }
  .block_text table {
    border-width: 1px 0 0 1px;
    border-spacing: 0;
  }
  .block_text th,
  .block_text td {
    border-width: 0 1px 1px 0;
    padding: 0.375em 0.75em;
  }

  body img {
    max-width: 100%;
    height: auto;
  }

  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p,
  body ol,
  body ul,
  body dl,
  body figure {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  body #page_title,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    margin-top: 1.5em;
    font-weight: inherit;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }
  body #page_title,
  body h1,
  body h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  body h1 strong,
  body h2 strong {
    font-weight: 400;
  }
  body #page_title,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p {
    max-width: 40em;
  }

  body #page_title,
  body h1 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom-width: 0;
  }

  @media (min-width: 60em) {
    body #page_title,
    body h1 {
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }

  body .content_margin_right #page_title {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 60em) {
    body .main_image + h1 {
      position: absolute;
      top: 70vh;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
      transform: translateY(-150%);
      background: black;
      background: rgba(0, 0, 0, 0.5);
    }
    body .main_image + h1 + p,
    body .main_image + h1 + dl {
      margin-top: 3em;
    }
  }

  body #page_title,
  body h1 {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
  }

  body h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  body h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  body h3 {
    font-size: 1.25em;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
  }

  /* =Main Container
  ----------------------------------------------- */
  body .main_image {
    display: block;
    margin-left: -1.5em;
    margin-right: -1.5em;
    width: 100vw;
    max-width: none;
  }
  @media (min-aspect-ratio: 1/1) {
    body .main_image {
      width: 100%;
      width: 100vw;
      max-width: none;
      height: 70vh;
      /*
      max-height: 400px;
      */
      object-fit: cover;
      margin-left: -3em;
      margin-right: -3em;
    }
    body .content_margin_right .main_image {
      width: 100%;
      margin: 0;
    }
  }

  /* =Schedule
  ----------------------------------------------- */
  body .schedule {
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    body .schedule {
      padding: 3em;
    }
  }
  body .schedule section h2 {
    margin-top: 0;
  }
  body dl:after {
    content: "";
    display: table;
    clear: both;
  }
  body dt {
    clear: both;
    float: left;
    width: 25%;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    box-sizing: border-box;
    color: rgb(0, 51, 135); /* @ocean */
  }
  body dt + dd {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
  }
  body dd {
    padding-left: 1.5em;
    padding-bottom: 0.375em;
    margin-left: 25%;
    width: 75%;
    box-sizing: border-box;
    color: black;
  }
  body dd em {
    opacity: 0.5;
  }
  body dd span {
    display: inline-block;
    min-width: 3em;
  }
  body dd span:first-child {
    text-align: right;
  }

  body .schedule > section + section {
    margin-top: 3em;
  }
  @media (min-width: 60em) {
    body .schedule:after {
      content: "";
      display: table;
      clear: both;
    }
    body .schedule > section {
      float: left;
      width: 50%;
    }
    body .schedule > section + section {
      margin-top: 0;
    }
  }


  /* =Staff
  ----------------------------------------------- */
  .staff_list,
  .staff_list li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .staff_list {
    max-width: none;
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
    margin-left: -1.5em; /* item padding */
    margin-right: -1.5em;

    /* @flex-box-wrap */
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .staff_list li {
    color: rgb(41, 53, 57);
    width: 100%;
    padding: 1.5em;
    text-align: center;
    box-sizing: border-box;
  }
  .staff_list li > a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }
  .staff_list li img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }

  .staff_list li h3,
  .staff_list li p {
    max-width: none;
  }
  .staff_list li h3 {
    margin: 0.75em 0 0 0;
    font-family: inherit;
    font-size: inherit;
  }
  .staff_list li h3 + p {
    font-style: italic;
    opacity: 0.6;
    margin: 0;
  }

  @media (min-width: 20em) {
    .staff_list li {
      width: 50%;
    }
  }
  @media (min-width: 40em) {
    .staff_list li {
      width: 33.333%;
    }
  }
  @media (min-width: 60em) {
    .staff_list li {
      width: 25%;
    }
  }

