
  @charset "utf-8";

  #container_home_header,
  #container_header {
    margin-top: 3em;
  }

  .nav_public {
    top: 0;
    background-image: none !important;
    padding-bottom: 0em;
    background-color: rgb(32, 85, 135); /* --dark-ocean */
  }

  @media (min-width: 1000px) {
    .nav_public ul {
      justify-content: center;
      padding-left: 225px;
    }
  }

  .azusa-home-introduction {
    top: 3em;
  }
  .azusa-home-introduction h3 .lowercase {
    font-style: italic;
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }

  #container_header::after,
  #container_home_header::after {
    background-image: url(images/sierra.png);
  }

  #container_home_header::before {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  }

  @media (min-width: 1000px) {
    #container_header::after {
      top: -1.5em;
    }
  }

  #container_home_header {
    background-image: url(images/one-student-microscope.png),
                      url(images/one-student-academics.png),
                      url(images/one-student-computer.png),
                      url(images/one-student-art.png) !important;
    background-repeat: no-repeat;
    background-position: 5% 100%, 35% 100%, 65% 100%, 95% 100% !important;
    background-size: auto 70% !important;
  }
  #container_home_header,
  .azusa-home-introduction {
    height: 85vh !important;
    min-height: 55vw;
  }

  #container_home_header::after {
    bottom: auto;
    left: 50%;
    top: 2.25em;
    width: 25vw;
    height: 12.5vw;
    transform: translateX(-50%);
  }

  .azusa-about #container_header {
    background-position: center !important;
    background-image: url(images/writing.jpg) !important;
  }

  .azusa-students #container_header {
    background-image: url(images/students.jpg) !important;
    background-position: center !important;
  }

  .azusa-staff #container_header {
    background-image: url(images/classroom-2.jpg) !important;
    background-position: center !important;
  }

  .azusa-parents #container_header {
    background-image: url(images/paint.jpg) !important;
    background-position: center !important;
  }

  .azusa-pbis #container_header {
    background-image: url(images/lunch.jpg) !important;
    background-position: center !important;
  }

  /*
  .azusa-news #container_header {
    background-image: url(images/athletics.jpg) !important;
    background-position: 50% 25% !important;

    height: 55vh !important;
    min-height: 45vw;
  }

  .azusa-activities #container_header {
    background-image: url(images/photos/aHR0cDovL2docy1hdXNkLWNhLnNjaG9vbGxvb3AuY29tL3VpbWcvaW1hZ2UvMTM1NjYxMjg2NjM4Ni8xMzQ1Mjc5MTU3MDQxLzE0ODU2ODI3NjUzMDQuanBnP2Nyb3BUb3A9MzMmY3JvcFJpZ2h0PTkwMCZjcm9wQm90dG9tPTYzMyZjcm9wTGVmdD0xMDAmYmFzaXNXaWR0aD0xMDAw.jpeg) !important;
    background-position: center !important;
  }

  .azusa-standards #container_header {
    background-image: url(images/students.jpg) !important;
    background-position: center !important;
  }

  .azusa-parents #container_header {
    background-image: url(images/instagram/14488205_724767584345061_195698733143293952_n.jpg) !important;
    background-position: center !important;

    height: 55vh !important;
    min-height: 45vw;
  }
  */


  .azusa-home-introduction h3 {
    max-width: 12em;
  }

